ellipsis()
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
ellipsisline()
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        overflow: hidden